<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
  <!--System language-->
  <!--{@language=LANGUAGE @logLanguage=LOG_LANGUAGE}-->
  <systemLanguage logLanguage="fr" language="en" />
  <!--{~RECIPIENT_TREE_SETTINGS}-->
  <recipientTreeSettings enabled="false" />
  <!--NHibernate settings-->
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="Default">
      <!--{@=CONNECTION_STRING}-->
      <property name="connection.connection_string">
        <dummy>dummy</dummy>
        Data Source=testSqlServer\s2012;Initial Catalog=TestDB;Persist Security Info=True;User ID=sa;Application Name=Sungero Application
      </property>
      <!--{@=CONNECTION_STRING}-->
      <property name="connection.connection_string_workflow">Data Source=testSqlServer\s2012;Initial Catalog=TestDB;Persist Security Info=True;User ID=sa;Application Name=Sungero Application</property>
    </session-factory>
  </hibernate-configuration>
  <!--{@add.connectionString=$concat(CONNECTION_STRING,";Enlist=false")}-->
  <!--{@name=$concat(DUMMY,";Enlist=false"}-->
  <connectionStrings>
    <add name="Logging Connection String" connectionString="Data Source=testSqlServer\s2012;Initial Catalog=TestDB;Persist Security Info=True;User ID=sa;Application Name=Sungero Application;Enlist=false" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--{@endpoint.address=$replace("localhost/Sungero",SERVER_ROOT_PATH) @client.mode=CLIENT_MODE @endpoint.kind=ENDPOINT_KIND @type=ALL_TYPE}-->
  <!--{@endpoint.behaviorConfiguration=$replace-if($equals(CLIENT_MODE,$concat("cus", "tom")),"Default",CLIENT_MODE)}-->
  <client mode="custom" type="all">
    <!--{~!$equals(CLIENT_MODE,"custom")}-->
    <!--<endpoint name="HttpCommonServiceWA" address="https://localhost/Sungero/CommonService.svc/wa" binding="wsHttpBinding" bindingConfiguration="HttpsWABinding" contract="Sungero.Services.ICommonService" behaviorConfiguration="Default" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" />-->
    <endpoint name="HttpCommonServicePW" address="https://test.comp/Local/CommonService.svc/pw" binding="customBinding" bindingConfiguration="HttpsPWBindingGZip" contract="Sungero.Services.ICommonService" behaviorConfiguration="custom" kind="secret" />
    <!--{~$equals(CLIENT_MODE,"custom")}-->
    <endpoint name="TcpCommonServiceWA" address="net.tcp://test.comp/Local/CommonService.svc/wa" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Sungero.Services.ICommonService" behaviorConfiguration="custom" kind="secret" />
  </client>
  <!--{@value=LOGS_PATH}-->
  <variable name="logs-path" value="D:\Logs" />
  <system.net>
    <mailSettings>
      <!--{@from=SMTP_FROM}-->
      <smtp from="smpt@from">
        <!--{@host=SMTP_HOST @port=SMTP_PORT @enableSsl=SMTP_SSL @userName=SMTP_USER @password=SMTP_PASSWORD}-->
        <network host="smtp.google.com" port="25" enableSsl="true" userName="admin" password="qwerty" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <!--{~NHIBERNATE_PROFILER}-->
    <!--<add key="nhibernate-profiler-enabled" value="True" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" />-->
    <add key="helpIsAuthRequired" value="false" />
  </appSettings>
  <runtime>
    <!--{@enabled=LEGACY_POLICY_ENABLED}-->
    <legacyCorruptedStateExceptionsPolicy />
  </runtime>
  <!--{@mode=$replace("Super Passport",   AUTHENTICATION_MODE ) @type=AUTHENTICATION_TYPE}-->
  <authentication mode="Windows Linux Lite" type="lazy" />
  <!--{@fileName=SHARED_LOG_PATH}-->
  <!--{~SHARED_LOGGING}-->
  <log fileName="\\SHARED\Logs" />
  <!--{@system.name=$replace("Develop","DirX")}-->
  <systemManagerSetting>
    <!--{@isDefault=$equals(PROTOCOL,"http")}-->
    <system name="DirXHttp" isDefault="true" />
    <!--{@isDefault=$equals(PROTOCOL,"tcp")}-->
    <system name="DirXTCP" isDefault="false" />
  </systemManagerSetting>
  <!--{@dns.value=DNS_IDENTITY}-->
  <settings>
    <endpoint name="First" value="first">
      <identity value="Sungero Server" />
      <dns value="Identity DNS Server" />
    </endpoint>
    <endpoint name="Second" value="second">
      <dns value="Identity DNS Server" />
      <identity value="Sungero Server" />
    </endpoint>
  </settings>
  <!--{~SHARED_LOGGING}-->
  <target xsi:type="File" />
  <!--{~!SHARED_LOGGING}-->
  <!--<target xsi:type="Net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" />-->
  <!--{~!REMOTE_LOGGING}-->
  <target xsi:type="Local" />
  <!--{@shared=SHARED_LOGGING @remote=$not(REMOTE_LOGGING)}-->
  <logging shared="true" remote="true" />
  <!--{@address1=$replace-if(SHARED_LOGGING,"http:","file:") @address2=$replace-if-not(REMOTE_LOGGING,"file:","net.tcp:")}-->
  <remote address1="file://gu.ru" address2="net.tcp://gu.ru" />
  <!--{~TENANTS}-->
  <tenants1>
    <tenant name="alpha" db="alpha_db" />
    <tenant name="beta" user="alpha_user" />
  </tenants1>
  <!--{~TENANTS}-->
  <tenants2>
    <tenant name="alpha" db="alpha_db" />
    <tenant name="beta" user="alpha_user" />
  </tenants2>
  <!--{~TENANTS}-->
  <tenants3>
    <tenant name="alpha" db="alpha_db" />
    <tenant name="beta" user="alpha_user" />
  </tenants3>
</configuration>