<?xml version="1.0" encoding="utf-8"?>
<!--{@internalLogFile=INTERNAL_LOG_FILE}-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <extensions>
    <add assemblyFile="..\AddIns\Sungero\CommonLibrary.dll" />
    <add assemblyFile="..\AddIns\Sungero\Sungero.Domain.Client.dll" />
    <add assemblyFile="..\AddIns\Sungero\Sungero.Domain.Shared.dll" />
  </extensions>
  <!-- Формат сообщения-трасировки для файла -->
  <variable name="file-layout" value="${odate} ${assembly-version} ${processid:padding=6}+${threadid:padding=-2} ${level:padding=-5} ${logger} -${ndc:separator=, :addToStart= :addToEnd=${char:code=58}}  ${message} ${onexception:${event-context:item=description:WhenEmpty=Contact your system administrator}} [${user-name}] ${onexception:${newline}${exception:format=tostring}}" />
  <!-- Формат сообщения-трасировки для Event Log -->
  <variable name="event-log-layout" value=" ${logger}: &quot;${message}&quot;  ${onexception:${newline} Description${char:code=58} ${event-context:item=description:WhenEmpty=Contact your system administrator}${newline}} User name: &quot;${user-name}&quot; ${newline}  Version: ${assembly-version} ${newline}  ${exception:format=tostring}" />
  <!--{@value=LOGS_PATH}-->
  <variable name="logs-path" value="${basedir}\..\..\log" />
  <!--{@value=LOGS_SHARED_PATH}-->
  <variable name="logs-shared-path" value="\\Share\Logs" />
  <rules>
    <logger name="*" minlevel="Warn" writeTo="event-log" />
    <logger name="*" minlevel="Trace" writeTo="file" />
    <!--{~LOGS_SHARED}-->
    <!--<logger name="*" minlevel="Trace" writeTo="shared_file" />-->
  </rules>
  <meta name="FORCE_USE_APPDATA_PATH" value="false" />
</nlog>